*{margin: 0;
    padding:0 0 0px 0;
    box-sizing: border-box;
    }

body {
    color: #aec3d4;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    background-color:#e1edf7;
    text-decoration: none;
}

header {
    padding: 20px 35px 20px 0;
    background-color: #242e61;
    display:  flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.align {
    text-align: right;
    
}
.name-box {
    border: none;
    background-color: lightblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header h1 {
    font-weight: bold;
    font-size: 35px;
    color: #242e61;
    text-indent:  2em;
}

header a {
    color: #242e61;
    text-decoration: none;
    text-shadow: lightblue;
    
}



header nav {
    padding: 7px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a , .contact {
    font-size: 2vw;
    font-weight: bold;
    color: lightblue;
    padding: 0 15px;
}
  
.underline {
    border-bottom: solid lightblue 3px;
    margin-right: 30px;
}

.underline2 {
    border-bottom: solid #242e61 3px;
    margin-right: 30px;
    margin-left: 80px;
}
section {
    padding: 60px;
}

.hero {
    background-image: url(../Images/20180407_161911_IMG_0780\ \(2\).png);
    background-size: cover;
    height: 40em;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
    position: relative;
    text-align: right;
}

.hero-subtitle {
    background-color: lightblue;
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 2em;
    color: #242e61;
}
.titles {
    color:  #242e61;
    width: 200px;
    font-size: 30px;
    text-align: right;
    border-right: #242e61 solid 3px;
    line-height: 70px;
    padding-right: 30px;
}
  



.paragraph {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    color:  #242e61;
    padding-left: 50px;
    width: 70%;
}

.pictures-box {
    width: 70%;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(3, 2fr);
    padding-left: 50px;
    color: #024e76;
    height: 45em;   
    grid-row-gap: 15px;
    grid-column-gap: 25px;
}
.picture-box {
    position: absolute;
    top: 100px;
    left: 0;
    border:  none solid 1px;
    background-color: lightblue;
    padding-right: 10px;
    flex-wrap: wrap;
 }
 .picture-text {
    color:#242e61;
    font-size: 16px;
    font-weight: bold;

  }
.run-buddy {
   background-image: url(../Images/Run-buddy-capture.PNG);
   background-size: cover;
   grid-column: 2/span 1;
   grid-row: 3;
   position: relative;
   border: solid lightblue 3px;
    
    }

.surf {
    position: relative;
    grid-column: 1/ 3;
    grid-row: 1/span 2;
    background-image: url(../Images/jeremy-bishop-OXMX3R0KKx0-unsplash.jpg);
    background-size: cover;
    border: solid lightblue 3px;
}



  .pastel {
      position: relative;
      background-image: url(../Images/eberhard-grossgasteiger-S-2Ukb_VqpA-unsplash.jpg);
      background-size: cover;
      grid-row: 3;
      grid-column: 1/span 1;
      border: solid lightblue 3px;
  }

  
 

  .led {
      grid-column: 3/span 1;
      grid-row: 1/span 1;
      background-image: url(../Images/justin-lane-lwwM_dotpcs-unsplash.jpg);
      background-size: cover;
      position: relative;
      border: solid lightblue 3px;
  }

  .calculator {
      background-image: url(../Images/vishwarajsinh-rana-_1fByLYHA_0-unsplash.jpg);
      background-size: cover;
      position: relative;
      grid-column: 3;
      grid-row: 2;
      border: solid lightblue 3px;
  }

  .contact {
     
    display: initial;
    justify-content: space-evenly;
      
      
  }

  .contact a {
    color: #242e61;
    text-decoration-line: none;
    
  }

  footer {
    padding: 60px;
  }

  footer a {
      margin-top: 30px;
  }

  .work a {
      float: inline-start;
  }

  .row {
      display: flex;
      flex-wrap: nowrap;
  }

  /* Media query for smaller desktop screens and smaller */
  /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        width: 100%;
    }
    
    header h1 {
        width: 100%;
        text-align: center;
        font-size: 4em;
        text-indent: 0;
    }

    header nav ul {
        margin-top: 20px;
        justify-content: center;
        width: 100%;
    }

    header nav ul li a {
        font-size: 20px;
    }
    
    .pictures-box {
        font-size: .5em;
    }
    
    .picture-box {
        top: 10px;
    }

    .picture-text {
        font-size: 1em;
        top: 0px;
    }

    body {
        width: 100%;
    }
    
    footer {
        width: 100%;
        line-height: 1.5;
        justify-content: space-evenly;
        text-align:center;
    }
    
}

/*MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width:768px) {
    section {
        padding: 30px 15px;
    }

    
}

/*MEDIA QUERY FOR MOBILE PHONES AND SMALLER*/
@media screen and (max-width: 575px) {
    header {
        width: 100%;
        line-height: 1.5;
    }
    .name-box {
        width: 100%;
    }
    body {
        width: 100%;
    }
    .picture-text {
        font-size: .5em;
    }
    .pictures-box {
    width: 100%;
    grid-row-gap: 0px;
    grid-column-gap: 0px;
    }

    .picture-box {
        width: 80%;
        overflow: inherit;
    }

    footer {
        width: 100%;
        font: 3px;
        justify-content: center;
    }

    .titles h2 {
        font-size: .7em;
    }
}